@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 500%;
  min-height: 100vh;
  display: flex;
  background: #252730;
  align-items: center;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul li {
  position: relative;
  list-style: none;
  align-items: center;
  justify-content: center;
}

ul li a {
  position: relative;
  font-size: 3em;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  color: var(--color);
  overflow: hidden;
  transition: 0s;
  border-left: 1px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
}

ul li a:hover::before {
  width: 1000%;
  filter: drop-shadow(0 0 25px var(--color));
}

p{color:white}