<<<<<<< HEAD
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%}
#header,
p,
h4,
h3,
h1,
h2 {text-align: center;
}
=======
#map { position: absolute; top: 0; bottom: 0; width: 100%
}

#header, 
p, 
h4, 
h3, 
h1, 
h2 {text-align: center;
}

>>>>>>> 02e97b7ab826ca948e7943bb84363d1a45d8efd3
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
<<<<<<< HEAD
    }
=======
}
>>>>>>> 02e97b7ab826ca948e7943bb84363d1a45d8efd3
